{% extends "bootstrap/base.html" %}
<script src={{ url_for("static", filename="js/wiki.js") }}></script>
{% block content %}
<div class="p-wikipedia">
  <div class="p-wikipedia__inner">
     <h3 class="p-wikipedia__heading">Wikipediaで検索する</h3>
         <div class="p-wikipedia__search">
             <input id="js-wikipedia-input" type="text" value="" placeholder="検索ワード">
             <button id="js-wikipedia-button" type="button">検索</button>
         </div>
    <div class="p-wikipedia__body" id="js-wikipedia-body"></div>
  </div>
</div>
{% endblock %}